{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
    body{
            background-image: url('{% static "main.jpg" %}');
            background-size: cover;
            height: 100vh;
            font-family:Arial, Helvetica, sans-serif;
    }

        @font-face {
            font-family: 'DelaGothic';  
            src: url('{% static "DelaGothicOne-Regular.ttf" %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        table {
            border-collapse: collapse;
            font-family: sans-serif;
            padding: 10px;

        }

        h1{ text-align: center;
            font-family: 'Calibri';     
            margin-top: 15px;   
        }
        h5 {
            text-align: center;
            font-family: 'Calibri';
        }
        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            font-family: 'Calibri';
            animation: fade 2s infinite;
        }
        @keyframes fade {
            0%, 100%{
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
        }
        .center-button a, .logout a{
            text-align: center;
            font-family: 'Calibri';
            text-decoration: none;
        }

        .center-button button{
            display: block;
            margin: 0 auto;
            text-decoration: none;
        }
        .logout button{
            display: block;
            margin: 0 auto;  
            text-decoration: none;   
        }
        button {
            background-color: #cee6ff; 
            color: blue;
            width: 70px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 11px; 
            text-align: center;
            text-decoration: none;
        }
        td button{
            display: block;
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
        }
        .custom-bg{
            background-color: #47a3ff;
        }
        .large-font{
            font-size: 28px;
            font-weight: bold;
            font-family: 'DelaGothic', sans-serif;
        }
        .scrollable-table {
            overflow-x: auto;
        }
        table thead th{
            text-align: center;
            vertical-align: middle;
        }
        .btn-custom {
            width: 150px;  
            height: 50px; 
            display: inline-block;
            vertical-align: top;
            margin: 20px;
            font-size: 15px;
        }
        .btn-add{
            background-color:#45a049 ;
            color: white;
        }
    </style>
    
    <nav class="navbar navbar-light custom-bg">
        <a class="navbar-brand mx-auto large-font" href="#">Jeshuamart</a>
    </nav>

    <h4>Welcome, {{name}}!</h4>
    <h4>Terdapat {{item_count}} item yang tersimpan  </h4>
    
    <!-- INI UNTUK TABLE PRODUCTNYA  -->
    <table class="row" id="product_container"></table>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="categories" class="col-form-label">Categories:</label>
                            <input type="text" class="form-control" id="categories" name="categories"></input>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="d-flex justify-content-center set-margin">
        <a>    
            <button type="button" class="btn btn-primary btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Product
            </button>
        </a>    
        <a href="{% url 'main:logout' %}">
            <button type="button" class="btn btn-danger btn-custom">
                Logout
            </button>
        </a>
    </div>
    
    <br>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <h5>Disusun Bryan Jeshua Mario Timung - 2206027021</h5>
    
    <script>

        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }

        async function refreshProducts() {
            document.getElementById("product_container").innerHTML = "";
            const products = await getProducts();

            let htmlString = "";
            products.forEach((item) => {
                htmlString += `
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">${item.fields.name}</h5>
                                <div class="d-flex justify-content-center set-margin">
                                    <p class="card-text">Amount:  </p>
                                    <span class="button">
                                        <a href="/decrease-quantity/${item.pk}">
                                            <button type="submit" style="width: 25px; padding: 3px;">-</button>
                                        </a>
                                    </span>
                                    <p class="card-text">${item.fields.amount}</p>

                                    <span class="button">
                                        <a href="/increase-quantity/${item.pk}">
                                            <button type="submit" style="width: 25px; padding: 3px;">+</button>
                                        </a>
                                    </span>
                                </div>
                                <p class="card-text">Price: ${item.fields.price}</p>
                                <p class="card-text">${item.fields.description}</p>
                                <p class="card-text"> Date Added ${item.fields.date_in}</p>  
                                <p class="card-text"> Categories ${item.fields.categories}</p>                              
                                <p class="card-text"> Stock less than five days? ${item.fields.stock}</p>
                                <div class="d-flex justify-content-center set-margin">
                                    <span class="button">
                                        <button type="button" onclick="deleteProduct(${item.pk}); return false;" class="btn delete-product-button" style="background-color: red; color:white; width: 100px; padding: 3px;" data-product-id="${item.pk}">Delete Product</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div> `
            });
            document.getElementById("product_container").innerHTML = htmlString
        }

        refreshProducts()

        function addProduct() {
            fetch("{% url 'main:create_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)

            document.getElementById("form").reset()
            return false
        }
        document.getElementById("button_add").onclick = addProduct
        function deleteProduct(productId) {
            fetch(`delete-product-ajax/${productId}`, {
                method: "DELETE",
            }).then(refreshProducts)
            return false
        }


    </script>
{% endblock content %}