{% extends 'base.html' %}

{% block content %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: 'Calibri';
        }
    
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            font-family: 'Calibri';
        }
        
        th{
            text-align: center;
        }

        h1{ text-align: center;
            font-family: 'Calibri';        
        }
        h5 {
            text-align: center;
            font-family: 'Calibri';
        }
        h4 {
            text-align: center;
            font-family: 'Calibri';
            animation: fade 2s infinite;
        }
        @keyframes fade {
            0%, 100%{
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
        }
        .center-button{
            text-align: center;
            font-family: 'Calibri';
        }

        .center-button button{
            display: block;
            margin: 0 auto;
        }
        .logout button{
            display: block;
            margin: 0 auto;     
        }
        button {
            background-color: #cee6ff; 
            color: black;
            padding: 10px 10px;
            width: 70px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 11px; 
            text-align: center;
        }
        td button{
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    </style>
    <h1>Jeshuamart Inventory</h1>
    <h4>Terdapat {{item_count}} item yang tersimpan  </h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Stock Less than 5 Days</th>
            <th>Categories</th>
            <th>Actions</th> 
        </tr>
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_in}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.categories}}</td>
                <td>
                    <br>
                    <form method="POST" action="{% url 'main:increase_quantity' product.id %}">
                        {% csrf_token %}
                        <button type="submit">Increase</button>
                    </form>
                    <br>
                    <form method="POST" action="{% url 'main:decrease_quantity' product.id %}">
                        {% csrf_token %}
                        <button type="submit">Decrease</button>
                    </form>
                    <br>
                    <form method="POST" action="{% url 'main:delete_product' product.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                    <br>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />

    <div class="center-button">
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>
    </div>
    <br>
    <div class="logout">
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </div>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <h5>Disusun Bryan Jeshua Mario Timung - 2206027021</h5>

{% endblock content %}